# Directories
data/
store/
subs/
assets/

# Editor settings
.vscode/

# Python caches
**/__pycache__/

# Python Environment
.docqna/
.docqna-dev/

# Database
*.rdb
.DS_Store

# SENSITIVE INFORMATION!!!!!!!
.env
